---
import Container from "../components/Container.astro";
import MainLayout from "../layouts/MainLayout.astro";
import posts from "../matches.js";
import formatDate from "../utils/date-formatter";
import { Image } from '@astrojs/image/components';


export function getStaticPaths() {
  return [
    posts.map((post) => {
      return {
        params: { pronostico: post.slug },
        props: {
          title: post.title,
          desc: post.description,
          url: post.url,
          date: post.date,
          slug: post.slug,
        },
      };
    }),
  ];
}

const { pronostico } = Astro.params;
const { title, desc, url, date, slug } = Astro.props;
---

<MainLayout title={title} description="change">
    <Container>
      <div class="grid px-2 grid-cols-1 md:grid-cols-6 gap-5">
        <article class="col-span-4 flex flex-col">
          <header>
            <div class="grid lg:grid-rows-[repeat(4, max-content)] gap-5">
              <h1
                class="text-4xl font-extrabold"
                transition:name={`title-${slug}`}
              >
                {title} - pronosticos, cuotas y noticias
              </h1>
              <Image
                transition:name={slug}
                src={url}
                alt=""
                width={761}
                height={507}
              />
              </div>
              <p class="text-sm pt-2"> Alvaro Rodriguez  |  {formatDate(date)}</p>
          </header>
          <div class="py-5 flex flex-col gap-4">
            <p class=" border-b border-gray-400 pb-5">{desc}</p>
            <h3 class="text-xl font-bold">Previa del partido</h3>
            <p class="border-b border-gray-400 pb-5"> </p>
            <h3 class="text-xl font-bold">Novedades</h3>
            <p class="border-b border-gray-400 pb-5"></p>
            <h3 class="text-center text-2xl font-bold">Pronostico del partido</h3>
            <p class="text-sm">Nottingham Forest ha probado ser un rival capaz de competir con los mejores clubes de la premier cuando se encuentra en City Ground. </p>
            <p class="text-sm">Mientras que el recien ascendido Sheffield United no se lo dejara facil a los Locales, el equipo de Cooper deberia tener suficiente talento en la plantilla para llevarse los 3 puntos.</p>
            <p class="text-sm">EL pronostico es la victoria de Nottingham Forest con handicap asiatico -0.25</p>
            <p class="w-full border border-gray-400 h-14 flex items-center justify-center text-lg font-semibold bg-black text-white">Nottingham Forest HA -0.25</p>
          </div>
        </article>

        <aside class="col-span-2 p-2">
          <h2 class="text-2xl font-bold">📘Nuevos Pronosticos</h2>
          {posts.filter((post, index) => post.slug !== pronostico).map((post) => (
            <div class="grid grid-cols-4 gap-5 py-5">
              <a href={post.slug} class="col-span-2">
                <Image src={post.url} alt={post.title} height={160} width={180} fit={'cover'} position={'center'} />  
              </a>
              <a href={post.slug} class="col-span-2">
                <h3 class="font-bold">{post.title} pronosticos, cuotas y noticias</h3>
              </a>
            </div>
          ))}
        </aside>

      </div>
    </Container>
</MainLayout>
