---
import Container from "../components/Container.astro";
import FeaturedPost from "../components/FeaturedPost.astro";
import Posts from "../components/Posts.astro";
import Layout from "../layouts/MainLayout.astro";
import posts from "../matches.js";
---

<Layout title="home" description="my astro blog description">
  <Container>
    <section>
      <div
        class="md:grid lg:grid-cols-4 px-2 lg:grid-rows-[repeat(2, max-content)] gap-5"
      >
        <FeaturedPost
          slug={posts[0].slug}
          title={posts[0].title}
          desc={posts[0].description}
          date={posts[0].date}
          url={posts[0].url}
        />
        {posts.filter((post, index) => index !== 0)
            .map((post) => (
              <Posts
                slug={post.slug}
                title={post.title}
                date={post.date}
                url={post.url}
              />
            ))}
      </div>
    </section>

    <section></section>
  </Container>
</Layout>
