---
import formatDate from "../utils/date-formatter";
import { Image } from "@astrojs/image/components";

const {slug, title, date, url} = Astro.props;
---

<div class="col-span-1 row-span-1">
    <div class="grid grid-rows-[repeat(3,max-content)] gap-2">
      <a href={slug}>
        <Image
          src={url}
          transition:name={slug}
          class="object-cover"
          alt=""
          width={277}
          height={181}
        />
      </a>
      <a href={slug}>
        <h3 class="font-bold text-lg" transition:name={`title-${slug}`}>
          {title} pronosticos, cuotas y noticias
        </h3>
      </a>
      <p class="text-sm">{formatDate(date)}</p>
    </div>
  </div>